html,
body,
#render-container,
#render-provider,
.render-container,
.render-provider {
  height: 100%;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.rotating {
  animation: spin 1s linear infinite
}
